html body {
  font-family: 'Montserrat', sans-serif;

  background: #d13138; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #d13138 29%, #fc4237 78%, #fc4237 78%, #fd6b35 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #d13138 29%,#fc4237 78%,#fc4237 78%,#fd6b35 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #d13138 29%,#fc4237 78%,#fc4237 78%,#fd6b35 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d13138', endColorstr='#fd6b35',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  background-size: 100%;
  background-repeat: no-repeat;
  letter-spacing: normal;
}


.trans-block{
  display: none;
}
html p{
  margin : 0;
}

html .form-check{
  display: flex;
  align-items: center;
}
.index .part1 .form-check-label{
  padding-left: 1rem;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -border-radius: 30px;

    border-radius: 3px;
    display: flex;
    justify-content:center;
    align-items: center;
    height: 20px;
    width: 20px;
    background: #000;
    border: none;
    margin-top: 0;
    box-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );


}

input[type=checkbox]:hover {
  box-shadow: none;

}
input[type=checkbox]:focus {
  outline:  none;

}



input[type="checkbox"]:checked:before {
  content: '✔';
  display: block;
  color: #f7f7f7;
  font-size: 0.9rem;

}

html body h1, html body h2, html body h3, html body h4, html body h5, html body h6{

  color: #f7f7f7;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  padding:20px 0 ;
  text-transform: none;
  text-shadow: 0px 3px 5px rgba( 0,0,0,0.30 );
}

.index .part1 h1{
  color: #000;
  padding-top: 50px;

}

.index .part1{
  position: relative;
  background-color: #f7f7f7;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );
  z-index: 2;
  padding: 10px 20px;
  margin: 0 5px;
  margin-bottom: 30px;
  overflow: hidden;

}
.index .part2{

  margin-bottom: 30px;

}

.index .part1 .form-control{

  background-color: #000;
  border-radius: 100px;
  box-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );
  color: #f7f7f7;


}

.index .part1 .form-control:focus{

  background-color: #1e1e1e;
}


.index .part1 label, .index .part1 .col-form-label {
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  padding:5px 0 ;
  text-shadow: 0px 3px 5px rgba( 0,0,0,0.30 );
}

header .navbar {

  padding: 0;
  box-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );

}

.logoLouvre{
  padding-left: 1rem;
}

.flatpickr-calendar {
  background-color: #000;
}
.flatpickr-calendar.arrowBottom:before{
  border-top-color: #000;

}
.flatpickr-calendar.arrowBottom:after{
    border-top-color: #000;
}

.btn-danger {
  display: block;
  width: 220px;

  margin: 0 auto;
  background-color: #fd6b35;
  border: none;
  text-transform: none;
  font-size: 1rem;
  border-radius: 100px;
  -webkit-appearance: none;

  box-shadow: 0px 5px 5px rgba( 0,0,0,0.30 );

  margin-bottom: 20px;

}

.btn-danger:hover {

  background-color: #fc4237;

  box-shadow: 0px 3px 5px rgba( 0,0,0,0.30 );

}

.index .part1 .lastForm{
  margin-bottom: 30px;

}

.p-blanc{
  color: #f7f7f7;

  font-size: 1.5rem;
  font-weight: 500;
  padding:20px 0 ;
  text-transform: none;
  text-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );

}
footer {
  padding: 30px;
  text-align: center;
  background-color: #000;
  box-shadow: 0px -2px 5px rgba( 0,0,0,0.30 );
}

footer p{
  color: #f7f7f7;

  font-size: 1.2rem;
  font-weight: 500;
  padding:20px 0 ;
  text-transform: none;
  text-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );


}
footer p span{
  color: #fd6b35;
  font-size: 1.5rem;
}

.part2 .card{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );
}
.part2 .billet-c{
  margin-bottom:1rem;
}
.part2 .billet-c:last-of-type {
  margin-bottom:2rem;
}

.part2 .billet-c-h{
  color: #f7f7f7;
  font-weight: 500;
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.part2 .billet-c-h p{
  display: block;
  line-height: 1.5rem;
  font-weight: 600;

}

.part2 .billet-c-h p span{
  text-transform: capitalize;

}

.part2 .billet-c-b{
  color: #000;
  font-weight: 500;
}

.btn-primary {
  display: block;
  width: 220px;

  margin: 0 auto;
  background-color: #000;
  border: none;
  text-transform: none;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-appearance: none;

  box-shadow: 0px 5px 5px rgba( 0,0,0,0.30 );

  margin-bottom: 20px;

}

.btn-primary:hover {

  background-color: #1a1a1a;

  box-shadow: 0px 3px 5px rgba( 0,0,0,0.30 );

}

.btnCross{
  width: 35px;
  height: 35px;
  padding: 0;
  font-size: 1.3rem;
  color:#000;
  font-weight: 700;
  text-shadow: 0px 3px 5px rgba( 0,0,0,0.30 );
  margin: 0;
  box-shadow: 0px 5px 4px rgba( 255,255,255,0.20 );

}
 .btnCross:hover {
  color:#000;
  background-color: #fc4237;
  text-shadow: none;
  box-shadow: none;

}

html .badge{
  border-radius: 100px;
  padding: 5px;
}

.justify-rate-text{
  font-weight: 500;
  text-shadow: 0px 3px 5px rgba( 0,0,0,0.30 );
}

.justify-rate{
  padding-bottom : 20px;
}


.quote{
  color: #000;
  font-size: 1rem;
  font-weight: 500;

}

.quote .part2{
  padding: 60px 0;


}

.quote .part1{
  padding: 0;
}

.quote-title{
  padding-top : 10px;
}

.quote-booking {
  padding: 10px 0;
}

.quote-booking-info{
  padding: 10px 20px;
}

.quote-booking-info ul{
  list-style-type : none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}
.quote-booking-uppercase{
  text-transform: capitalize;
}
.quote-booking-badge{
  color: #fd6b35;
  font-weight: 700;
  margin-right: 10px;
}


.contneur-quote  {
  background-color: #000;
  color: #f7f7f7;
  font-weight: 700;
  padding: 10px 20px;

}
.quote-booking-prix{
  display: flex;
  justify-content:space-between;
  align-items: center;
}


.contneur-total{
  background-color: #000;
  color: #f7f7f7;
  font-weight: 700;
  padding: 20px ;
  margin-top:10px;
}

.total-booking-prix{
  display: flex;
  justify-content:space-between;
  align-items: center;

}


.defray .part1{
  margin-bottom : 100px;
}

path[Attributes Style] {
  fill: #f7f7f7;
}
.StripeElement {
  background-color: #000;
  color: #f7f7f7;

  padding: 0.75rem 2rem;
  font-size: 0.875rem;
  font-family: 'Montserrat', sans-serif;
  border-radius: 100px;
  box-shadow: 0px 2px 5px rgba( 0,0,0,0.30 );

}

.defray .form-row {

    display: block;
    -ms-flex-wrap: none;
    flex-wrap: wrap;
     margin-right: 0px;
     margin-left: 0px;
     margin-bottom: 30px;

}

.StripeElement--focus {
  box-shadow: none;
}

.StripeElement--invalid {
  border-color: transparent;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

html body .Remerciement h1 {
  margin-top : 50px;

}
html body .Remerciement h2 {
font-size: 1rem;
color: #000;
}
html body .Remerciement .btn-primary{
  border-radius: 100px;

}

.flatpickr-day.selected, .flatpickr-day.selected:hover{
  background: #fd6b35;
  border-color: #fd6b35;
}


@media screen and (min-width: 500px) {
  .quote .part2{
    padding: 60px 0;
    display: flex;
    justify-content:space-between;
    align-items: center;

  }
  .quote .part1{
    margin-bottom : 50px;
  }
  .quote .part2{
    margin-bottom : 50px;
  }
  .defray .part1 {
    margin-bottom: 125px;
}

html body .Remerciement .btn-primary{
  margin-bottom : 232px;
}
html body .Remerciement h1 {
  margin-top : 233px;
}

}
@media screen and (min-width: 750px) {
  html body .Remerciement .btn-primary{
    margin-bottom : 265px;
  }
  html body .Remerciement h1 {
    margin-top : 265px;
  }

  .quote .part1{
    margin-bottom : 80px;
  }
  .quote .part2{
    margin-bottom : 80px;
  }

  .defray .part1 {
    margin-bottom: 185px;
}

}
@media screen and (min-width: 1000px) {
  .quote-booking {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 300px;

  }

  .contneur-quote  {
    height: 100%;
    padding: 20px 10px;

  }

  .quote-booking-prix{
    height: 100%;
    flex-direction: column-reverse;

  }
  html body .Remerciement .btn-primary{
    margin-bottom : 440px;
  }
  html body .Remerciement h1 {
    margin-top : 440px;
  }

  .quote .part1{
    margin-bottom : 240px;
  }
  .quote .part2{
    margin-bottom : 240px;
  }

  .index .part2 {
      margin-bottom: 40px;
  }

  .defray .part1 {
    margin-bottom: 525px;
}

}
  @media screen and (min-width: 1025px) {
    html body .Remerciement .btn-primary{
      margin-bottom : 250px;
    }
    html body .Remerciement h1 {
      margin-top : 250px;
    }
    .quote .part1{
      margin-bottom : 50px;
    }
    .quote .part2{
      margin-bottom : 50px;
    }
    .defray .part1 {
      margin-bottom: 150px;
  }
  }
}
